<?php if (!isset($post_id) && isset($data)) : ?>
  <h1>Our Blog</h1>
  <?php foreach ($data as $key => $post) { ?>
    <h3><a href="/blog/<?= $post['id'] ?>"><?= $post['title'] ?></a></h3>
    <p><?= $post['body'] ?></p>
  <?php } ?>

<?php elseif (isset($id)) : ?>
  <h4>Reading <?= $id ?></h4>
  <h1><?= $title ?></h1>
  <p style="white-space: pre-line;"><?= $body ?></p>
<?php endif; ?>