<h3>My App</h3>
<br>
<div class="flex gap-2">
  <div class="border-text-muted rounded-3 p-2">
    <span class="clr-danger">{{stats.posts}}</span>
    <p>Posts</p>
  </div>
  <div class="border-text-muted rounded-3 p-2">
    <span class="clr-danger">{{stats.topics}}</span>
    <p>Topics</p>
  </div>
</div>