$animIn: modalAnimIn 300ms ease forwards 100ms;

.user_profile {
  position: relative;
  #profile_toggler:checked {
    & ~ .drop_menu {
      display: block;
      animation: $animIn;
    }
    & ~ .profile_overflow {
      // background-color: hsla($hsl-clr-primary, 0.1);
      position: fixed;
      inset: 0;
      display: block;
      z-index: 100;
      animation: $animIn;
    }
  }
  .thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $clr-bg;
    overflow: hidden;
    color: $clr-white;
    display: block;
  }
  .drop_menu {
    transition: all 300ms ease-in-out;
    transition-delay: 100ms;
    position: absolute;
    bottom: 0;
    top: 50px;
    right: 0;
    width: 400px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: var(--bs);
    background-color: $clr-white;
    color: $clr-bg;
    height: max-content;
    transform: translateY(60px);
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: 110;
  }
  .close_menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $clr-primary;
  }
  .head_content {
    padding: 1rem 10px;
    background-color: $clr-primary;
    border-radius: 5px 5px 0 0;
  }
  .menu_container {
    padding: 10px;
  }
  .end_content {
    // border-top: 1px solid hsla($hsl-clr-primary, 0.3);
    padding: 1rem 10px;
    background-color: $clr-white-l;
  }
  .link {
    padding: 8px;
    color: $clr-bg;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.8rem;
    &:hover {
      background-color: #88888833;
    }
  }
}

.main_loader_container {
  background-color: $clr-bg-l;
  padding: 10px;
  box-shadow: $bs;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.search__component {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;

  .search_overflow {
    width: 100%;
    height: 100%;
    background-color: #090912c9;
    // background-color: rgb(28, 25, 25);
    animation: onShow 200ms ease-in forwards;
    opacity: 0;

    @keyframes onShow {
      to {
        top: 70px;
        opacity: 1;
      }
    }
  }

  .search_container {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    // background-color: black;
    width: 80%;
    max-width: 750px;
    transition: var(--transition);
    animation: onSearch 500ms ease forwards 300ms;
    opacity: 0;

    @keyframes onSearch {
      to {
        top: 60px;
        opacity: 1;
      }
    }
    .search_nav {
      border: 1px solid $clr-white-l;
      background-color: $color-bg;

      .search_bar.flex {
        gap: 0.8rem;
        padding: 12px 0.8rem;
      }
      .icon {
        color: #98a7bb;
      }
      input {
        box-shadow: none;
        border: none;
        padding: 0;
        font-weight: 300;
        color: #98a7bb;

        &:focus,
        &:hover,
        &:active {
          box-shadow: none;
          border: none;
        }
      }
    }
    .search_tags {
      padding: 8px 1rem;
      border-top: 1px solid $clr-white-l;

      .tags-container {
        overflow: hidden;
        // scrollbar-width: 0;

        .container {
          width: max-content;
        }
      }
      a {
        font-size: 0.8rem;
        font-weight: 100;
        padding: 1px 5px;
        background: $clr-bg-l;
        border-radius: 3px;
        margin: 0 10px;
        color: $clr-text-muted;
      }
    }
    .btn_close_search {
      position: absolute;
      top: -40px;
      right: 0;
      color: $clr-white;
      padding: 5px;
      background-color: $clr-bg;
      box-shadow: $bs;
      transition: var(--transition);
      animation: btnReady 300ms ease forwards 1000ms;
      opacity: 0;

      @keyframes btnReady {
        to {
          opacity: 1;
        }
      }

      &:hover {
        color: orange;
      }
    }
  }

  .search_results {
    margin-top: 1.5rem;
    // padding: 10px 0;
    background-color: $color-bg;
    border: 1px solid $clr-white-l;

    .link {
      padding: 5px 10px;
      color: $clr-white-l;
      border-bottom: 1px solid $clr-bg-l;

      &:hover {
        background-color: $clr-bg-l;
        color: inherit;
      }

      .icon {
        color: $clr-text-muted;
      }
    }
    .results_container {
      height: 400px;
      max-height: 60vh;
      overflow: auto;
    }
  }
}
// Header Curency Componect
.droplet-component {
  #d_toggler:checked ~ .droplet-container {
    padding: 10px;
    margin-top: 10px;
    opacity: 1;
    height: max-content;
  }

  .droplet-container {
    background-color: $clr-white;
    box-shadow: $bs-sec;
    border-radius: 10px;
    transition: $transition;
    z-index: 100;
    border: 2px solid hsla($hsl-clr-text-muted, 0.5);
    opacity: 0;
    height: 0;
    a {
      padding: 5px;
      font-size: smaller;
      color: $clr-bg;
      font-weight: bold;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 2px;
      border: 2px solid transparent;
      display: flex;
      justify-content: space-between;

      &.active {
        background-color: $clr-bg;
        color: $clr-white;
      }
      &:hover {
        border-color: $clr-bg;
        opacity: 0.6;
      }
      .text {
        margin-right: 1.5rem;
      }
    }
  }
}
// Toast Module
.Toastify_me_dev {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  // left: 30px;
  z-index: 10500;
  --toast-color: var(--clr-success);
  visibility: visible;
  animation: offScreen 300ms ease forwards 5000ms;

  @keyframes offScreen {
    to {
      visibility: hidden;
    }
  }
  .toast_box {
    background-color: $clr-white;

    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: var(--bs-pri);
    opacity: 0;
    transform: translateX(-100%);

    min-height: 60px;
    animation: showToast 1000ms cubic-bezier(0.68, -0.55, 0.266, 1.35) forwards;
  }

  @keyframes showToast {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toast_box.success {
    --toast-color: var(--clr-success);
  }
  .toast_box.error {
    --toast-color: var(--clr-danger);
  }
  .toast_box.warning {
    --toast-color: orange;
  }
  .toast_box.notification {
    --toast-color: var(--clr-primary);
  }
  .toast_icon {
    color: var(--toast-color);
    margin: 0 0.8rem;
  }
  .toast_close_btn {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: $clr-warning;
    cursor: pointer;
    text-align: center;
    font-size: 1.3rem;
  }
  .toast_close_btn:hover {
    opacity: 0.5;
  }
  .toast_progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $clr-primary-a;
  }
  .toast_progress::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--toast-color);
    animation: onProgress 5000ms linear forwards 1000ms;
  }

  @keyframes onProgress {
    to {
      width: 0%;
    }
  }
}

// Theme Component
.theme-main {
  position: relative;
  #theme_toggler:checked {
    & ~ .overflow {
      display: block;
    }
    & ~ .theme-modal {
      display: block;
      animation: $animIn;
    }
  }
  .overflow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: hsla($hsl-clr-primary, 0.1);
    // backdrop-filter: blur(1px);
    z-index: 100;
    display: none;
    transition: $transition;
  }
  .theme-modal {
    z-index: 110;
    position: absolute;
    background-color: $clr-white;
    box-shadow: $bs;
    top: 50px;
    right: 0;
    width: 130px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    opacity: 0;
    transform: translateY(50px);
    transition: $transition;
  }
  .theme-btn {
    padding: 0.4rem 0.8rem;
    text-transform: capitalize;
    &.active {
      background-color: hsla($hsl-clr-text-muted, 0.2);
    }
    &:hover {
      background-color: hsla($hsl-clr-text-muted, 0.5);
    }
  }
}
// Paginator Component
.grid-pagination {
  background-color: $clr-white;
  padding: 20px;

  .container {
    max-width: max-content;
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
  }

  .pagination-lists {
    padding-inline: 1rem;
    width: max-content;
  }
  .paginate {
    padding: 0.3rem 0.7rem;
    border: 1px solid $clr-bg;
    border-radius: 4px;
    font-size: smaller;
    font-weight: bold;
    color: $clr-bg;
    background-color: transparent;

    &.active {
      color: $clr-light;
      background-color: $clr-warning;
      border-color: transparent;
    }
    &.inactive {
      color: $clr-light;
      border-color: transparent;
      background-color: hsla($hsl-clr-text-muted, 0.5);
    }
    &:hover {
      background-color: $clr-bg;
      color: $clr-white;
    }
  }
  .main-page {
    margin-left: 5px;
  }
  .visit {
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    border: 2px solid $clr-bg;
    font-weight: bold;
    font-size: smaller;
    color: $clr-bg;

    &:hover {
      border-color: $clr-warning;
      color: $clr-warning;
    }
  }
}

@keyframes modalAnimIn {
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
